*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
.homepage {
    width: 100%;
    min-height: 1024px;
}
header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(197, 198, 250);
}
.logo {
    width: 300px;
    object-fit: fill;
    position: absolute;
    left: 20px;
    top: 20px;
}
.site-title {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: blue;
}
main {
    width: 100%;
}
.add-note-btn {
    width: 424px;
    background-color: #FA04E1;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 5% 40px auto;
}
.add-note-icon {
    font-size: 70px;
}
.add-note-text {
    font-size: 35px;
    margin: 0 30px;
}
.notes {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.note {
    width: 100%;
    background-color: #9BDBFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 45px;
    padding: 15px 20px;
}

